.product-form{
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control labe,
.form-control input{
    display: block;
    width: 100%;
    height: 30px;
}

.form-control{
    margin: 1rem 0;
}

.form-control input{
    border: 1px solid #dbc441;
    border-radius: 2px;
}
button{
    font: inherit;
    border: 1px solid blue;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
}
button:hover,
button:active{
    background-color: blueviolet;
    color: white;
}